@model ReadLater.Entities.Bookmark

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Bookmark</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayName("Url")
		</dt>
		<dd>
			@using (Html.BeginForm("IncrementBookmarkUsage", "Bookmarks", new { id = Model.ID }, FormMethod.Get)) {
					<span class="bookmark-link">@Html.DisplayFor(modelItem => Model.URL)</span>
					<span class="glyphicon glyphicon-copy" data-toggle="tooltip" data-placement="right"
						  title="Copy link to share with friends">
						@Html.Hidden("IncrementBookmarkUsageLink", Url.Action("IncrementBookmarkUsage", "Bookmarks", new {
							id = Model.ID
						}, Request.Url.Scheme))
					</span>
				}
		</dd>

		@if (!string.IsNullOrEmpty(Model.ShortDescription)) {
			<dt>
				@Html.DisplayName("Short description")
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ShortDescription)
			</dd>
		}

		@if (Model.Category != null) {
			<dt>
				@Html.DisplayName("Category name")
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Category.Name)
			</dd>
		}

		<dt>
			@Html.DisplayName("Create date")
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CreateDate)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
	@Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
	<script src="~/Scripts/bookmarks.js"></script>
}